.bordered {
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 1px;
}

.flex-3 {
    flex: 3;
}

.flex-13 {
    flex: 1.3;
}

.flex-1 {
    flex: 1;
}

.half-width {
    width: 50%; /* Take up half the space of the parent */
    margin: 0 auto; /* Center the row within the parent */
}